h1,
h2 {
  font-family: Lato;
}

.vjs-zoom-container {
  position: absolute;
  right: 10px;
  bottom: 40px;
  width: 40px;
  transition: 350ms ease opacity;
  padding: 10px;
  background: rgba(44, 44, 44, 0.2);
}

.vjs-zoom-container input[orient="vertical"] {
  appearance: slider-vertical;
  -webkit-appearance: slider-vertical;
  -moz-appearance: slider-vertical;
  writing-mode: bt-lr;
  width: 20px;
}
